* {
  background-color: #000000;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif; }

.hero-section {
  width: 79%;
  max-width: 972px;
  margin-inline: auto; }
  .hero-section header {
    padding-top: 29px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px; }
  .hero-section .logo {
    display: flex;
    gap: 9px;
    align-items: center; }
    .hero-section .logo p {
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
  .hero-section .menu nav ul {
    list-style-type: none;
    display: flex; }
  .hero-section .menu nav a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 24px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    transition: all 0.1s ease-in; }
    .hero-section .menu nav a:hover {
      background-color: #F4511F; }
  .hero-section .menu-12 {
    display: none;
    width: 24px;
    z-index: 10; }
    .hero-section .menu-12 .spinner {
      transition: all 0.3s; }
    .hero-section .menu-12 .top {
      margin-top: 2px; }
    .hero-section .menu-12 .middle {
      margin: 5px 0px; }
    .hero-section .menu-12 #openSidebarMenu {
      display: none; }
    .hero-section .menu-12 .top,
    .hero-section .menu-12 .bottom {
      width: 100%;
      border: 1px solid #FFF; }
    .hero-section .menu-12 .middle {
      width: 70%;
      border: 1px solid #FFF; }
    .hero-section .menu-12 .dropdown {
      background-color: #000000;
      border-radius: 10px;
      position: absolute;
      top: 10%;
      left: 0%;
      width: 100%;
      height: 100vh;
      text-align: center;
      display: none;
      flex-direction: column;
      gap: 30px;
      transition: all 0.3s ease-in; }
    .hero-section .menu-12 .menu-list-dropdown {
      width: 90%;
      margin-inline: auto; }
    .hero-section .menu-12 .menu-list-dropdown > ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0rem;
      flex-grow: 1; }
    .hero-section .menu-12 .menu-list-dropdown li {
      border-bottom: 1px solid #FFF;
      display: block; }
    .hero-section .menu-12 .menu-list-dropdown a {
      width: 50%;
      margin-inline: auto;
      text-transform: uppercase;
      text-decoration: none;
      color: #FFF;
      display: block;
      padding: 20px;
      transition: all 0.1s ease-in-out; }
      .hero-section .menu-12 .menu-list-dropdown a:hover {
        background-color: #F4511F; }
    .hero-section .menu-12 .sidebarIconToggle:hover {
      cursor: pointer; }
    .hero-section .menu-12 #openSidebarMenu:checked ~ .sidebarIconToggle > .top {
      rotate: 135deg;
      margin-top: 8px; }
    .hero-section .menu-12 #openSidebarMenu:checked ~ .sidebarIconToggle > .bottom {
      rotate: -135deg;
      margin-top: -14px;
      margin-bottom: 8px; }
    .hero-section .menu-12 #openSidebarMenu:checked ~ .sidebarIconToggle > .middle {
      opacity: 0%; }
    .hero-section .menu-12 #openSidebarMenu:checked ~ .dropdown {
      display: block;
      width: 100%; }
  .hero-section .wrapper {
    display: flex;
    gap: 78px;
    margin-bottom: 101px;
    width: 100%; }
    .hero-section .wrapper .wrapper-image {
      color: #DAD8D7;
      width: 100%; }
      .hero-section .wrapper .wrapper-image .wrapper-svg .display {
        display: none; }
      .hero-section .wrapper .wrapper-image .image-content {
        display: flex;
        gap: 14px;
        align-items: start;
        margin-left: 37px; }
        .hero-section .wrapper .wrapper-image .image-content .paragraph {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding-top: 14px;
          width: 40%;
          text-align: right; }
    .hero-section .wrapper .content {
      display: flex;
      flex-direction: column;
      gap: 34px;
      padding-top: 31px; }
      .hero-section .wrapper .content .heading p {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase; }
      .hero-section .wrapper .content .heading h1 {
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: 69.76px; }
      .hero-section .wrapper .content .desc {
        display: flex;
        flex-direction: column;
        gap: 42px; }
        .hero-section .wrapper .content .desc p {
          color: #DAD8D7;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; }
        .hero-section .wrapper .content .desc button {
          padding: 16px 28px;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border: 1px solid #F4511F;
          background-color: #F4511F;
          width: fit-content;
          color: #FFF;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: all 0.1s ease-in; }
          .hero-section .wrapper .content .desc button:hover {
            background-color: transparent;
            border: 1px solid #FFF; }
  .hero-section .sliding {
    display: flex;
    gap: 16px;
    width: fit-content;
    margin-inline: auto; }
    .hero-section .sliding .first {
      width: 5px;
      height: 5px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      background-color: #FFF;
      border: 1px solid #FFF;
      transition: all 0.1s ease-in; }
      .hero-section .sliding .first:hover {
        width: 24px; }

.services {
  width: 69%;
  max-width: 972px;
  margin-inline: auto;
  margin-bottom: 110px; }
  .services h2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 121px;
    margin-bottom: 65px; }
  .services .service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px; }
    .services .service .serv {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 20px; }
      .services .service .serv .serve-para {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; }
      .services .service .serv p {
        color: #DAD8D7;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; }

.about {
  width: 79%;
  max-width: 972px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 153px;
  margin-bottom: 168px; }
  .about .about-content {
    display: flex;
    flex-direction: column;
    gap: 35px; }
    .about .about-content h2 {
      color: #FFF;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 59px;
      margin-bottom: 13px; }
    .about .about-content p {
      color: #DAD8D7;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
    .about .about-content button {
      padding: 16px 28px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border: 1px solid #F4511F;
      background-color: #F4511F;
      width: fit-content;
      color: #FFF;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: all 0.1s ease-in; }
      .about .about-content button:hover {
        background-color: transparent;
        border: 1px solid #FFF; }
  .about .about-image {
    width: fit-content; }
    .about .about-image img {
      width: 100%;
      object-fit: cover;
      margin-inline: auto; }

.menu-1 {
  width: 79%;
  max-width: 972px;
  margin-inline: auto; }
  .menu-1 h2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }
  .menu-1 .premium-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: fit-content;
    margin-inline: auto;
    gap: 20px;
    width: 100%; }
    .menu-1 .premium-menu .menu-2 {
      display: flex;
      margin-top: 94px;
      gap: 29px; }
      .menu-1 .premium-menu .menu-2 .menu-dec {
        display: flex;
        flex-direction: column;
        gap: 11px;
        justify-content: end;
        align-items: center; }
        .menu-1 .premium-menu .menu-2 .menu-dec .head {
          color: #FFF;
          text-align: center;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; }
        .menu-1 .premium-menu .menu-2 .menu-dec p {
          color: #DAD8D7;
          text-align: center;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; }
        .menu-1 .premium-menu .menu-2 .menu-dec .price {
          color: #FFF;
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; }
      .menu-1 .premium-menu .menu-2 .cart-button {
        align-self: flex-end; }
        .menu-1 .premium-menu .menu-2 .cart-button img {
          background-color: #F4511F;
          border-radius: 4px 4px 12px 4px;
          padding: 4px 6px; }

.discount {
  width: 79%;
  max-width: 972px;
  margin-inline: auto;
  display: flex;
  gap: 116px;
  justify-content: space-around;
  margin-top: 236px; }
  .discount .disc-dec {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center; }
    .discount .disc-dec .disc-para p {
      color: #FFF;
      text-align: center;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
    .discount .disc-dec button {
      padding: 16px 28px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border: 1px solid #F4511F;
      background-color: #F4511F;
      width: fit-content;
      color: #FFF;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: all 0.1s ease-in; }
      .discount .disc-dec button:hover {
        background-color: transparent;
        border: 1px solid #FFF; }

.new-arrival {
  width: 79%;
  max-width: 972px;
  margin-inline: auto;
  margin-top: 220px;
  margin-bottom: 116px; }
  .new-arrival h2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }
  .new-arrival .arrive {
    display: flex;
    justify-content: center;
    margin-top: 94px;
    color: white; }
    .new-arrival .arrive .arrival {
      display: flex;
      gap: 35px; }
      .new-arrival .arrive .arrival .arrive-menu {
        display: flex;
        justify-content: center; }
        .new-arrival .arrive .arrival .arrive-menu .new p {
          color: #FFF;
          text-align: center;
          font-family: Poppins;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 4px 8px;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          background-color: #F4511F; }
        .new-arrival .arrive .arrival .arrive-menu .arrival-menu {
          display: flex;
          flex-direction: column;
          gap: 47px;
          align-items: center; }
          .new-arrival .arrive .arrival .arrive-menu .arrival-menu .arrive-menu-prc {
            display: flex;
            flex-direction: column;
            gap: 18px;
            align-items: center; }
            .new-arrival .arrive .arrival .arrive-menu .arrival-menu .arrive-menu-prc .arrival-menu-dec {
              text-align: center;
              width: fit-content; }
              .new-arrival .arrive .arrival .arrive-menu .arrival-menu .arrive-menu-prc .arrival-menu-dec p {
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; }
              .new-arrival .arrive .arrival .arrive-menu .arrival-menu .arrive-menu-prc .arrival-menu-dec p3 {
                color: #DAD8D7;
                text-align: center;
                font-family: Poppins;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; }
            .new-arrival .arrive .arrival .arrive-menu .arrival-menu .arrive-menu-prc .arrival-menu-price {
              display: flex;
              gap: 8px;
              align-items: center; }
              .new-arrival .arrive .arrival .arrive-menu .arrival-menu .arrive-menu-prc .arrival-menu-price p {
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; }
              .new-arrival .arrive .arrival .arrive-menu .arrival-menu .arrive-menu-prc .arrival-menu-price p5 {
                color: #F4511F;
                text-align: center;
                font-family: Poppins;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; }
      .new-arrival .arrive .arrival .cart-button {
        align-self: flex-end; }
        .new-arrival .arrive .arrival .cart-button img {
          background-color: #F4511F;
          border-radius: 4px 4px 12px 4px;
          padding: 4px 6px; }

@media (max-width: 960px) {
  .wrapper {
    flex-direction: column;
    align-items: center; }
    .wrapper .wrapper-image {
      color: #DAD8D7; }
      .wrapper .wrapper-image .image-content {
        align-items: center;
        justify-content: center;
        margin-left: 0px; }
        .wrapper .wrapper-image .image-content .paragraph {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding-top: 14px;
          width: 40%;
          text-align: right; }
    .wrapper .heading p {
      text-align: center; }
    .wrapper .heading h1 {
      text-align: center; }
    .wrapper .desc p {
      text-align: center; }
    .wrapper .desc button {
      margin-inline: auto; }

  .services .service {
    display: grid;
    grid-template-columns: 1fr; }
    .services .service .serv {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 40px; }

  .about {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    justify-items: center; }
    .about .about-content {
      justify-content: center;
      align-items: center; }
    .about p {
      text-align: center; }

  .menu-1 .premium-menu {
    grid-template-columns: repeat(2, 1fr);
    width: 100%; }
    .menu-1 .premium-menu .menu-2 {
      display: flex;
      margin-top: 94px;
      gap: 29px;
      /*.menu-dec {
          flex-direction: row;
      }*/ }

  .new-arrival .arrive {
    flex-direction: column;
    align-items: center;
    gap: 40px; }
    .new-arrival .arrive .arrival .arrive-menu .arrival-menu {
      flex-direction: row;
      gap: 20px; } }
@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center; }

  .hero-section .menu nav a {
    padding: 8px 18px; }

  .menu-1 .premium-menu {
    grid-template-columns: 1fr; }
    .menu-1 .premium-menu .menu-2 .menu-dec {
      flex-direction: row; }

  .discount {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
@media (max-width: 480px) {
  .hero-section header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .hero-section .menu {
    display: none; }
  .hero-section .menu-12 {
    display: block; }

  .services .service {
    margin-inline: auto; }
    .services .service .serv {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px; }

  .menu-1 .premium-menu .menu-2 .menu-dec {
    flex-direction: column; }

  .new-arrival {
    margin-inline: auto; }
    .new-arrival .arrive .arrival .arrive-menu .arrival-menu {
      flex-direction: column;
      gap: 20px; } }

/*# sourceMappingURL=scss.css.map */
