$background-color : #000000;
$button-color : #F4511F;
$main-text-color : #FFF;
$secondary-text-color : #DAD8D7;

@mixin border-radius ($value){
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
}

*{
    background-color: $background-color;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

@import "hero-section";
@import "services";
@import "about";
@import "menu";
@import "discount";
@import "arrival"
